/** COMEÇANDO A ESTILIZAÇÃO DO MENU (HEADER) **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&family=Schibsted+Grotesk&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Poppins',sans-serif;
}
.container_adm{
    max-width: 10000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}
.cabeçario_adm{
    background-color: #333;
    width: 100%;
    border: 2px solid cyan;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 20%;
    z-index: 9999;
}
.Menu_adm{
    width: 50%;
    padding-left: 10%;
}
.Menu_adm ul li{
    list-style: none;
    display: inline-block;
}
.logo_adm{
    width: 20%;
}
.logo_adm img{
  width: 100%;

}
.Menu_adm .op a{
    color: rgba(11, 241, 241);
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    
}
.Menu_adm .op a::after{
    content: " ";
    width: 0;
    height: 4px;
    background-color:rgba(11, 241, 241);
    position: absolute;
    top:0;
    left:0;
    transition: width 0.5s;
}
.Menu_adm .op a:hover::after{
    width: 50px;
}
.redes_sociais_adm{
    padding-right: 3cm;
}
.redes_sociais_adm button{
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg , cyan , rgb(19, 100, 100));
    border: none;
    border-radius: 8px;
    margin-right:20px;
    cursor:pointer;
}
.redes_sociais_adm button i{
    font-size: 20px;
    color: white;

}
.redes_sociais_adm button:hover{
    transition: all 0.5s;
    transform: scale(1.5);
}

.Login_adm {
  border-radius: 50%;
  background: none;
  border: none;
  
}
.Login_adm img{
  width: 50px;
  /* height: 50px; */
  cursor:pointer;
  border-radius: 50%;
}
.DropDown_Menu{
    display: none;
}
.DropDown_Menu input[type=submit]{
    border-radius: 10px;
}
.DropDown:hover .DropDown_Menu{
    display: block;
    position: absolute;
    right: 20px;
}
@keyframes slow{
  from{opacity: 0;}
  to {opacity: 1;}
}

@media only screen and (max-width: 1000px) {
    /* Define as regras CSS para telas menores que 768px */
    .logo {
      width: 25%;
    }
    .Menu {
      width: 50%;
      padding-top: 20px;
    }
    .Menu nav a {
      font-size: 16px;
      padding-right: 30px;
    }
    .redes_sociais {
      padding-right: 2cm;
    }
    .redes_sociais button {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
    .redes_sociais button i {
      font-size: 16px;
    }
    .Login .botão {
      width: 40px;
      border: 3px solid cyan;
    }
    .Anuncio{
        display: none;
    }
    footer p {
      font-size: 14px;
    }
  }
  
@media only screen and (max-width: 768px) {
    /* Define as regras CSS para telas menores que 768px */
    .logo {
      width: 25%;
    }
    .Menu {
      width: 50%;
      padding-top: 20px;
    }
    .Menu nav a {
      font-size: 16px;
      padding-right: 30px;
    }
    .redes_sociais {
      padding-right: 2cm;
    }
    .redes_sociais button {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
    .redes_sociais button i {
      font-size: 16px;
    }
    .Login .botão {
      width: 40px;
      border: 3px solid cyan;
    }
    .Anuncio{
        display: none;
    }
    footer p {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    /* Define as regras CSS para telas menores que 480px */
    .logo {
      width: 30%;
    }
    .Menu {
      width: 100%;
      padding-top: 20px;
    }
    .Menu nav a {
      font-size: 14px;
      padding-right: 20px;
    }
    .redes_sociais {
      padding-right: 1cm;
    }
    .redes_sociais button {
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }
    .redes_sociais button i {
      font-size: 14px;
    }
    .Login .botão {
      width: 30px;
      border: 2px solid cyan;
    }
    .Anuncio{
        display: none;
    }
    footer p {
      font-size: 12px;
    }
  }














  /*@media screen and (max-width: 1000px){
    .cabeçario{
      background: none;
      border: none;
    }
    .container{
        display: none;
    }
    
    footer{
      display: none;
    }

}
@media screen and (max-width: 900px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 950px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 900px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 850px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 800px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 750px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 700px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 650px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 600px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 550px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 500px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 450px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 400px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 350px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 300px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 250px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 200px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 150px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 100px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 10px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}







@media screen and (max-width: 1300px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 1200px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}
@media screen and (max-width: 1100px){
  .cabeçario{
    background: none;
    border: none;
  }
  .container{
      display: none;
  }
  
  footer{
    display: none;
  }

}*/