/** COMEÇANDO A ESTILIZAÇÃO DO MENU (HEADER) **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&family=Schibsted+Grotesk&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Poppins',sans-serif;
  background-color:#ffffff;
  color: cyan;
}
.container{ 
    max-width: 10000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}
.container-autor {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5cm;
} 

@media (min-width: 576px) {
  .container-autor {
      width: 540px;
  }
}
@media (min-width: 768px) {
  .container-autor {
      width: 720px;
  }
}
@media (min-width: 992px) {
  .container-autor {
      width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-autor {
      width: 1140px;
  }
}
.cabeçario{
    background-color: #333;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 12);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 20%;
    z-index: 9999;
}
.Menu{
    width: 50%;
    padding-left: 2%;
}
.Menu ul li{
    list-style: none;
    display: inline-block;
}
.logo{
    width: 20%;
}
.logo img{
  width: 100%;

}
.Menu nav a{
    color: rgba(11, 241, 241);
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    
}
.Menu nav a::after{
    content: " ";
    width: 0;
    height: 4px;
    background-color:rgba(11, 241, 241);
    position: absolute;
    top:0;
    left:0;
    transition: width 0.5s;
}
.Menu nav a:hover::after{
    width: 50px;
}
.redes_sociais{
    padding-right: 3cm;
}
.redes_sociais button{
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg , cyan , rgb(19, 100, 100));
    border: none;
    border-radius: 8px;
    margin-right:20px;
    cursor:pointer;
}
.redes_sociais button i{
    font-size: 20px;
    color: white;

}
.redes_sociais button:hover{
    transition: all 0.5s;
    transform: scale(1.5);
}
/* .Login{
  
} */
ul li{
  list-style: none;
}
.DropDown_Menu a{
  color: cyan;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #333;
  padding: 15px;
  width: 10cm;
  cursor: pointer;
  margin-bottom: 5px;
}
.DropDown_Menu{
  display: none;
}
.DropDown:hover .DropDown_Menu{
  position: absolute;
  display: block;
  right: 2%;
  background-color: cyan;
  border: 2px solid cyan;
  padding: 5px;
  animation-name: slow;
  animation-duration: 1s;
}
.Login  .DropDown .conta{
  border: 2px solid Cyan;
  border-radius: 50%;
  background: none;
}
.Login  .DropDown .conta img{
  width: 60px;
  padding: 0px;
  color: cyan;
  border-radius: 1000px;
  cursor: pointer;
}
form input[type='submit']{
  font-size: 20px;
  color: cyan;
  background-color: #333;
  border: none;
  cursor: pointer;
}

@keyframes slow{
  from{opacity: 0;}
  to {opacity: 1;}
}
section{
  max-width: 100%;

}
section .Welcome{
  position: absolute;
  top: 30%;
  width: 100%;
}
section .Welcome .autor{
  width: 100%;
}
section .Welcome .autor img{
  width: 20px;
}
section .Welcome .autor img,p{
  display: inline;
}
section .Welcome .info{
  width: 100%;
}
section .Welcome .info fieldset legend{
  text-align: center;
  padding: 5px;
}
section .Welcome .info .PI{
  padding: 10px;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 10);
  border:none;
}
section .Welcome .info fieldset .t-pi img{
  width: 20px;
}
section .Welcome .info fieldset .Boas-vinda img{
  width: 200px;
}
section .Welcome .info fieldset .Boas-vinda{
  display: flex;
}
section .Welcome .info fieldset .Boas-vinda img{
  padding-right: 22px;
}














@media only screen and (max-width: 1000px) {
    /* Define as regras CSS para telas menores que 768px */
    .logo {
      width: 25%;
    }
    .Menu {
      width: 50%;
      padding-top: 20px;
    }
    .Menu nav a {
      font-size: 16px;
      padding-right: 30px;
    }
    .redes_sociais {
      padding-right: 2cm;
    }
    .redes_sociais button {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
    .redes_sociais button i {
      font-size: 16px;
    }
    .Login .botão {
      width: 40px;
      border: 3px solid cyan;
    }
    .Anuncio{
        display: none;
    }
    footer p {
      font-size: 14px;
    }
  }
  
@media only screen and (max-width: 768px) {
    /* Define as regras CSS para telas menores que 768px */
    .logo {
      width: 25%;
    }
    .Menu {
      width: 50%;
      padding-top: 20px;
    }
    .Menu nav a {
      font-size: 16px;
      padding-right: 30px;
    }
    .redes_sociais {
      padding-right: 2cm;
    }
    .redes_sociais button {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
    .redes_sociais button i {
      font-size: 16px;
    }
    .Login .botão {
      width: 40px;
      border: 3px solid cyan;
    }
    .Anuncio{
        display: none;
    }
    footer p {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    /* Define as regras CSS para telas menores que 480px */
    .logo {
      width: 30%;
    }
    .Menu {
      width: 100%;
      padding-top: 20px;
    }
    .Menu nav a {
      font-size: 14px;
      padding-right: 20px;
    }
    .redes_sociais {
      padding-right: 1cm;
    }
    .redes_sociais button {
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }
    .redes_sociais button i {
      font-size: 14px;
    }
    .Login .botão {
      width: 30px;
      border: 2px solid cyan;
    }
    .Anuncio{
        display: none;
    }
    footer p {
      font-size: 12px;
    }
  }