@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
body{
    font-family: 'Fira Sans', sans-serif;
}
:root{
    --color-white: #fff;
    --color-red: #e63636;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple1: #9333FF;
    --color-purple2: indigo;
}
.content{
    background-color: var(--color-dark2);
    padding: 2rem;
    border-radius: 10px;
    min-width: 30px;
    overflow: auto;
}
.content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.span-required{
    display: none;
}
.inputs{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-dark1);
    border: 2px solid var(--color-dark1);
    color: var(--color-white);
    width: 100%;
    box-sizing: border-box;
}
.inputs:focus{
    border-color: var(--color-purple1);
}
button[type='submit']{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-top: 1rem;
    background-color: var(--color-purple2);
    color: var(--color-white);
    cursor: pointer;
}
button[type='submit']:hover{
    background-color: var(--color-purple1);
}