*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.comenter-header{
    display:flex;
    align-items: center;
    justify-content: center;
}
.section-post{
    display: flex;
    flex-direction: row;
}
.category{
    font-size: 20px;
    color: black;
}