.DropDown_Menu .Informações a{
    color: cyan;
    text-decoration: none;
    display: block;
    background-color: #333;
    width: 2.8cm;
    padding: 15px;
    margin-bottom: 2px;
  }
  .DropDown_Menu .Informações button{
    background-color: cyan;
    text-align: center;
    cursor: pointer;
  }
  .DropDown_Menu{
    display: none;
  }
  .DropDown:hover .DropDown_Menu{
    position: absolute;
    border: 1px solid cyan;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    right: 1cm;
  }
  @keyframes slow{
    from{opacity: 0;}
    to {opacity: 1;}
  }