.C{
    box-shadow: 0 0 5px /** teste de cor */ cyan, 0 0 25px /** teste de cor */ cyan;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: cyan;
    color: black;
    font-weight: 700;
    
}
.C:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan , 
    0 0 5px cyan, 
    0 0 100px cyan,
    0 0 200px cyan;
}
.N{
    box-shadow: 0 0 5px /** teste de cor */ cyan, 0 0 25px /** teste de cor */ cyan;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: cyan;
    color: black;
    font-weight: 700;
    
}
.N:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan , 
    0 0 5px cyan, 
    0 0 100px cyan,
    0 0 200px cyan;
}
.U{
    box-shadow: 0 0 5px /** teste de cor */ cyan, 0 0 25px /** teste de cor */ cyan;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: cyan;
    color: black;
    font-weight: 700;
    
}
.U:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan , 
    0 0 5px cyan, 
    0 0 100px cyan,
    0 0 200px cyan;
}
a{
    text-decoration: none;
}
.C{
    cursor:pointer;
}
.N{
    cursor:pointer;
}
.U{
    cursor:pointer;
}