*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    width: 100%;
    height: 100%;
    
}
.Informações{
    margin: 4cm 0 0 8cm;
}
.Informações  .Info{
    border: 2px solid;
    width: 10cm;
    height: 10cm;
    
}
.Info{
    display: inline-block;
}
fieldset{
    border:none;
    text-align: center;
    margin: 20px;
}