/** FUNDO DO SITE **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&family=Schibsted+Grotesk&display=swap');

body{
    background-color: #333;
    color: cyan;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    padding:0;
}

.button{
    position: absolute;
    top: 7cm;
    right: 3cm;
    padding: 20px;
    border: 2px solid cyan;
    border-radius: 10px;
    background-color: cyan;
    color: #333;
    font-weight: 700;
    cursor: pointer;
}
.button:hover{
    opacity: 0.8;
    transition: all 0.5s;
    transform: scale(1.5);
    text-shadow: cyan;
}
.text{
    position: absolute;
    top: 50%;
    left: 45%;
    cursor: pointer;
}
.text:hover{
    transition: all 0.5s;
    transform: scale(1.5);
}
fieldset{
    border: 2px solid cyan;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    width: 100%;
    color: #333;
    background-color: cyan;
}
p{
    cursor: pointer;
}
fieldset p:hover{
    opacity: 0.7;
}
footer{
    border: 2px solid cyan;
    padding: 15px;
    font-weight: 700;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #333;
    background-color: cyan;
}
footer p:hover{
    opacity: 0.7;
}
.Anuncio{
    float: right;
    border: 2px solid cyan;
    padding: 20px;
    width: 10cm;
    height: 100vh;
    background-color: #333;
}



