@media screen and (max-width: 768px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 1000px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 980px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 100px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 998px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 2%;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 970px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 900px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 768px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 90px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 990px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 970px;
        position: absolute;
        top: 40%;
        left: 30%;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 980px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 970px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 960px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 950px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 940px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 930px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 910px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 900px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 890px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 880px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 870px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 860px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 850px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 840px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 830px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 820px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 810px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 800px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 60px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 790px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 50px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 780px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 40px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 770px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 30px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 760px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 750px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 740px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 730px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 720px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 710px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
@media screen and (max-width: 700px){
    fieldset i{
        max-width:768px;
        height: 10px;
        border: none;
        color: black;
    }
    .Informações fieldset{
        display: block;
    }
    .Informações{
        max-width: 768px;
        position: absolute;
        top: 40%;
        left: 0;
    }
    fieldset,p,i,button{
        display: inline-block;
    }
    fieldset button{
        float: right;
    }
    fieldset{
        width: 740px;
    }
    fieldset i{
        width: 2px;
        height: 0px;
    }
    fieldset p{
        padding-left: 80px;
    }
    .Informações fieldset i{
        font-size: 50px;
        float: left;
    }
}
/** A casa dos 600 */
