/** COMEÇANDO A ESTILIZAÇÃO DO MENU (HEADER) **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&family=Schibsted+Grotesk&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 10000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

}
.cabeçario{
    background-color: #333;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 20%;
    z-index: 9999;
}
.Menu{
    width: 50%;
    padding-left: 20px;
}
.Menu ul li{
    list-style: none;
    display: inline-block;
}
.logo{
    width: 20%;
}
.logo img{
  width: 100%;

}
.Menu nav a{
    color: rgba(11, 241, 241);
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    
}
.Menu nav a::after{
    content: " ";
    width: 0;
    height: 4px;
    background-color:rgba(11, 241, 241);
    position: absolute;
    top:0;
    left:0;
    transition: width 0.5s;
}
.Menu nav a:hover::after{
    width: 50px;
}
.redes_sociais{
    padding-right: 2cm;
}
.redes_sociais button{
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg , cyan , rgb(19, 100, 100));
    border: none;
    border-radius: 8px;
    margin-right:20px;
    cursor:pointer;
}
.redes_sociais button i{
    font-size: 20px;
    color: white;

}
.redes_sociais button:hover{
    transition: all 0.5s;
    transform: scale(1.5);
}
.Login  .botão{
    
    width: 50px;
    border-radius: 1000px;
    /***border: 4px solid cyan;*/
    cursor: pointer; 
}
.Login .botão:hover{
  transition: all 0.5s;
  transform: rotateZ(360deg)
}
.Login .DropDown{
  position: relative;
  display: inline-block;
}
.Login .Droplogo{
  background: none;
  border: none;
  border-radius: none;
  width: 50px;
}
.Login button{
  border-radius: 50%;
  background: none;
  border: none;
  
}
.Login button  img{
  width: 50px;
  /* height: 50px; */
  cursor:pointer;
}
.Login button img:hover{
  transition: all 0.5s;
  transform: rotateZ(360deg);
}
.DropDown_Menu a{
  color: cyan;
  text-decoration: none;
  display: block;
  background-color: #333;
  width: 2.8cm;
  padding: 15px;
  margin-bottom: 2px;
}
.DropDown_Menu{
  display: none;
}
.DropDown:hover .DropDown_Menu{
  position: absolute;
  display: block;
  background-color: cyan;
  border: 2px solid cyan;
  right: 1px;
  animation-name: slow;
  animation-duration: 1s;
}
@keyframes slow{
  from{opacity: 0;}
  to {opacity: 1;}
}


.Login{
  width: 15%;
}

.Login nav ul li {
  list-style: none;

}
.Login nav a{
  color: rgba(11, 241, 241);
  text-decoration: none;
  padding-right: 50px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  
}
.Login nav a::after{
  content: " ";
  width: 0;
  height: 4px;
  background-color:rgba(11, 241, 241);
  position: absolute;
  top:0;
  left:0;
  transition: width 0.5s;
}
.Login nav a:hover::after{
  width: 50px;
}



















@media only screen and (max-width: 1000px) {
    /* Define as regras CSS para telas menores que 768px */
    .logo {
      width: 25%;
    }
    .Menu {
      width: 50%;
      padding-top: 20px;
    }
    .Menu nav a {
      font-size: 16px;
      padding-right: 30px;
    }
    .redes_sociais {
      padding-right: 2cm;
    }
    .redes_sociais button {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
    .redes_sociais button i {
      font-size: 16px;
    }
    .Login .botão {
      width: 40px;
      border: 3px solid cyan;
    }
    .Anuncio{
        display: none;
    }
    footer p {
      font-size: 14px;
    }
  }
  
@media only screen and (max-width: 768px) {
    /* Define as regras CSS para telas menores que 768px */
    .logo {
      width: 25%;
    }
    .Menu {
      width: 50%;
      padding-top: 20px;
    }
    .Menu nav a {
      font-size: 16px;
      padding-right: 30px;
    }
    .redes_sociais {
      padding-right: 2cm;
    }
    .redes_sociais button {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
    .redes_sociais button i {
      font-size: 16px;
    }
    .Login .botão {
      width: 40px;
      border: 3px solid cyan;
    }
    .Anuncio{
        display: none;
    }
    footer p {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    /* Define as regras CSS para telas menores que 480px */
    .logo {
      width: 30%;
    }
    .Menu {
      width: 100%;
      padding-top: 20px;
    }
    .Menu nav a {
      font-size: 14px;
      padding-right: 20px;
    }
    .redes_sociais {
      padding-right: 1cm;
    }
    .redes_sociais button {
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }
    .redes_sociais button i {
      font-size: 14px;
    }
    .Login .botão {
      width: 30px;
      border: 2px solid cyan;
    }
    .Anuncio{
        display: none;
    }
    footer p {
      font-size: 12px;
    }
  }





