/** FUNDO DO SITE **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&family=Schibsted+Grotesk&display=swap');
body{
    background-color: rgb(255, 254, 254);
    height: 100%;
    font-family: 'Poppins',sans-serif;
    color: #333;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

/*INICIO SESSÃO DE ARTIGOS*/
.post{
    position: relative;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 20%;
    margin-top: 0;
    
}
.noticias{
    max-width: calc(1300px - 40px);
    padding:0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.noticias article{
flex-basis: calc(25% - 20px);
margin-bottom: 30px;
opacity: 0.7;
}


.noticias article:hover{
     opacity:1;
    }

    
.noticias article p{
   margin: 10px 0;
  
}

.noticias article img{
    width: 100%;
}

.category{
    margin: 10px 0;
    font-size: 0.875em;
    color:#d36833;
}

.noticias article h2{
    font-weight: 300;
    color: cyan;
    font-size: 1.2em;
}

.noticias article h2 a{
    color:cyan;
}
/*FIM SESSÃO DE ARTIGOS*/

/* .Anuncio{
    float: right;
    border: 2px solid cyan;
    padding: 20px;
    width: 10cm;
    height: 100vh;
    background-color: #333;
} */
@media screen and (max-width: 1300px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}
@media screen and (max-width: 1200px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 1100px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 1000px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 900px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 950px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 850px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 800px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}


@media screen and (max-width: 750px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 700px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 650px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 600px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 550px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 500px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 450px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 400px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 350px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}
@media screen and (max-width: 300px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}
@media screen and (max-width: 250px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 200px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}
@media screen and (max-width: 150px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 100px){
    .post{
        margin-top: 1%;
        margin-left: 4%;
    }
}