body{
    background-color: #ffffff;
    color: rgb(7, 7, 7);
}
.main_section .container_img_user .icone_Welcome{
    margin-top: 15%;
    width: 50px;
    border: 5px solid cyan;
    border-radius: 50%;
}
.main_section .container_img_user .icone_Welcome,.P1{
    display: inline-block;
}
.main_section .container_img_user.icone_Welcome .P1{
    text-align: center;
}
.main_section .container_notice_user i{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.main_section .container_notice_user .container_Notices{
    border: 2px solid cyan;
}
.main_section .container_notice_user .container_Notices{
    text-align:center;

}
.main_section .container_notice_user .container_Notices .container_news .Notice {
    display: inline-block;
}
.main_section .container_notice_user .container_Notices .container_news .Notice img{
    width: 150px;
    height: 140px;
    cursor:pointer;
}
.main_section .container_notice_user .container_Notices .container_news .Notice{
    margin-left: 5px;
    margin-bottom: 10px;
    border: 2px solid cyan;
}
.container .Login img{
    border-radius: 2000px;
    width: 50px;
}